.header{
    background-color: #3074FA;
    text-align: left;
    height:100px;
    margin-top:-25px;
    padding-top:25px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav_bar{
    background-color: #9A9A9A;
    text-align: center;
    margin-top:-25px;
    display:flex;
    width: 100%;
    position:relative;
    padding-bottom:50px;
}

.menu_icon{
    width: 30px;
    height:30px;
}

.menu-cerrar-icon{
    width:30px; 
    height:30px;
}

.c1{
    flex-direction: column;
    text-align:center;
    margin-right: 100px;
    margin-left:100px;
    text-decoration-line: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu-container{
        width: 300px;
        position:absolute;
        bottom: 0;
        top: 0;
}
.menu-item-container{
    flex-direction: column;
}

.icons{
    width: 40px;
    height:40px;
}

body{
    margin:0;
}

